<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.android.car.ui" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vibes"
        tools:targetApi="31">
        <activity
            android:name=".activity.UpdatePassword"
            android:exported="false" />
        <activity
            android:name=".activity.setting"
            android:exported="false" />
        <activity
            android:name=".activity.MusicPlayingPage"
            android:exported="false" />
        <activity
            android:name=".activity.UpdateProfile"
            android:exported="false" />
        <activity
            android:name=".activity.Edituserprofile"
            android:exported="false" />
        <activity
            android:name=".fragments.Fragment_home"
            android:exported="false" />
        <activity
            android:name=".fragments.FragmentLibrary"
            android:exported="false" />
        <activity
            android:name=".fragments.FragmentSearch"
            android:exported="false" />
        <activity
            android:name=".activity.Fragment_Home_Page"
            android:exported="false" />
        <activity
            android:name=".activity.Languagechoose"
            android:exported="false" />
        <activity
            android:name=".activity.Musictype"
            android:exported="false" />
        <activity
            android:name=".activity.Chooseartist"
            android:exported="false" />
        <activity
            android:name=".activity.Forgotpassword"
            android:exported="false" />
        <activity
            android:name=".activity.Login"
            android:exported="false" />
        <activity
            android:name=".activity.Signup"
            android:exported="false" />
        <activity
            android:name=".activity.Signuplogin"
            android:exported="false" />
        <activity
            android:name=".activity.Splashscreen"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="YOUR_ADMOB_APP_ID" />
        <meta-data
            android:name="com.google.android.gms.auth.api.signin.GoogleSignInOptions.DEFAULT_SIGN_IN"
            android:value="YOUR_CLIENT_ID" />
    </application>

</manifest>